{% extends 'layouts/blank.html' %}

{% block content %} 

<body class="bg-gray-100 p-6">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">API Status</h1>
            <a href = "{% url 'create' %}"><button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" >Create API</button></a>
        </div>
        <ul class="space-y-4">
            {% for url1 in allurls%}
            <a href = '{% url 'detail' url1.id %}'>
            <li class="flex justify-between items-center bg-gray-50 p-4 rounded-lg shadow">
                <span class="font-medium">{{url1.apiurl}}</span>
                <span class="text-green-600 font-bold">{{url1.status}}</span>
            </li>
        </a>
            {% endfor%}
           
        </ul>
        
    </div>
</body>

{% endblock %}